---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

html, body {
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; */
  width: 1000px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: overlay;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji; */
  margin-top: 60px;
}

#nav, .nav, #nav .nav li {
  margin:0px;
  padding:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

#nav li {
  float:left;
  display:inline;
  cursor:pointer;
  list-style:none;
  padding:0px 10px 0px 10px;
  border:1px #000 solid;
  position:relative;
}

#nav li ul.first {
  left:-1px;
  top:100%;
}

#nav li, #nav li a {
  color:#000;
  text-decoration:none;
}

#nav .nav li {
  width:100%;
  text-indent:10px;
  line-height:30px;
  margin-right:10px;
  border-top:1px #000 solid;
  border-bottom:1px #000 solid;
  border-left:none;
  border-right:none;
  background:#fff;
}

#nav li a {
  display:block;
  width:inherit;
  height:inherit;
}

ul.nav {
  display:none;
}

#nav li:hover > a, #nav li:hover {
  color:#fff;
  background:#000;
}

li:hover > .nav {
  display:block;
  position:absolute;
  width:200px;
  top:-2px;
  left:50%;
  z-index:1000;
  border:1px #000 solid;
}

li:hover {
  position:relative;
  z-index:2000;
}

.entry a {
  color: #00838a;
}

.entry a:hover {
  color: #006268;
}

.entries-list .entry-title a:hover {
    color: #006268;
    background: aquamarine;
}

/* the fallback color from https://raw.githubusercontent.com/jwarby/pygments-css/master/github.css */
.highlight pre { background-color: var(--highlight-pre-bg) }
.highlight .hll { background-color: var(--highlight-hll-bg, #ffffcc) }
.highlight .c { color: var(--highlight-c, #999988); font-style: italic } /* Comment */
.highlight .err { color: var(--highlight-err, #a61717); background-color: var(--highlight-err-bg, #e3d2d2) } /* Error */
.highlight .k { color: var(--highlight-k, #000000); font-weight: bold } /* Keyword */
.highlight .o { color: var(--highlight-o, #000000); font-weight: bold } /* Operator */
.highlight .cm { color: var(--highlight-cm, #999988); font-style: italic } /* Comment.Multiline */
.highlight .cp { color: var(--highlight-cp, #999999); font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: var(--highlight-c1, #999988); font-style: italic } /* Comment.Single */
.highlight .cs { color: var(--highlight-cs, #999999); font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: var(--highlight-gd, #000000); background-color: var(#ffdddd) } /* Generic.Deleted */
.highlight .ge { color: var(--highlight-ge, #000000); font-style: italic } /* Generic.Emph */
.highlight .gr { color: var(--highlight-gr, #aa0000) } /* Generic.Error */
.highlight .gh { color: var(--highlight-gh, #999999) } /* Generic.Heading */
.highlight .gi { color: var(--highlight-gi, #000000); background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: var(#888888) } /* Generic.Output */
.highlight .gp { color: var(#555555) } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--highlight-gu, #aaaaaa) } /* Generic.Subheading */
.highlight .gt { color: var(--highlight-gt, #aa0000) } /* Generic.Traceback */
.highlight .kc { color: var(--highlight-kc, #000000); font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: var(--highlight-kd, #000000); font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: var(--highlight-kn, #000000); font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: var(--highlight-kp, #000000); font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: var(--highlight-kr, #000000); font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: var(--highlight-kt, #445588); font-weight: bold } /* Keyword.Type */
.highlight .m { color: var(--highlight-m, #009999) } /* Literal.Number */
.highlight .s { color: var(--highlight-s, #d01040) } /* Literal.String */
.highlight .na { color: var(--highlight-na, #008080) } /* Name.Attribute */
.highlight .nb { color: var(--highlight-nb, #0086B3) } /* Name.Builtin */
.highlight .nc { color: var(--highlight-nc, #445588); font-weight: bold } /* Name.Class */
.highlight .no { color: var(--highlight-no, #008080) } /* Name.Constant */
.highlight .nd { color: var(--highlight-nd, #3c5d5d); font-weight: bold } /* Name.Decorator */
.highlight .ni { color: var(--highlight-ni, #800080) } /* Name.Entity */
.highlight .ne { color: var(--highlight-ne, #990000); font-weight: bold } /* Name.Exception */
.highlight .nf { color: var(--highlight-nf, #990000); font-weight: bold } /* Name.Function */
.highlight .nl { color: var(--highlight-nl, #990000); font-weight: bold } /* Name.Label */
.highlight .nn { color: var(--highlight-nn, #555555) } /* Name.Namespace */
.highlight .nt { color: var(--highlight-nt, #000080) } /* Name.Tag */
.highlight .nv { color: var(--highlight-nv, #008080) } /* Name.Variable */
.highlight .ow { color: var(--highlight-ow, #000000); font-weight: bold } /* Operator.Word */
.highlight .w { color: var(--highlight-w, #bbbbbb) } /* Text.Whitespace */
.highlight .mf { color: var(--highlight-mf, #009999) } /* Literal.Number.Float */
.highlight .mh { color: var(--highlight-mh, #009999) } /* Literal.Number.Hex */
.highlight .mi { color: var(--highlight-mi, #009999) } /* Literal.Number.Integer */
.highlight .mo { color: var(--highlight-mo, #009999) } /* Literal.Number.Oct */
.highlight .sb { color: var(--highlight-sb, #d01040) } /* Literal.String.Backtick */
.highlight .sc { color: var(--highlight-sc, #d01040) } /* Literal.String.Char */
.highlight .sd { color: var(--highlight-sd, #d01040) } /* Literal.String.Doc */
.highlight .s2 { color: var(--highlight-s2, #d01040) } /* Literal.String.Double */
.highlight .se { color: var(--highlight-se, #d01040) } /* Literal.String.Escape */
.highlight .sh { color: var(--highlight-sh, #d01040) } /* Literal.String.Heredoc */
.highlight .si { color: var(--highlight-si, #d01040) } /* Literal.String.Interpol */
.highlight .sx { color: var(--highlight-sx, #d01040) } /* Literal.String.Other */
.highlight .sr { color: var(--highlight-sr, #009926) } /* Literal.String.Regex */
.highlight .s1 { color: var(--highlight-s1, #d01040) } /* Literal.String.Single */
.highlight .ss { color: var(--highlight-ss, #990073) } /* Literal.String.Symbol */
.highlight .bp { color: var(--highlight-bp, #999999) } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--highlight-vc, #008080) } /* Name.Variable.Class */
.highlight .vg { color: var(--highlight-vg, #008080) } /* Name.Variable.Global */
.highlight .vi { color: var(--highlight-vi, #008080) } /* Name.Variable.Instance */
.highlight .il { color: var(--highlight-il, #009999) } /* Literal.Number.Integer.Long */

/*-- Codes Snippet --*/

div.highlight,
figure.highlight,
.highlighter-rouge {
  background: var(--highlight-pre-bg, #f7f7f7);
  color: darkslategray;
}

div.highlighter-rouge > pre, div.highlighter-rouge pre.highlight, figure.highlight > pre, figure.highlight pre.highlight {
  padding: 2px;
}

.highlight {
  overflow: auto;
}

.highlight .lineno {
  margin: .8rem 0rem;
  padding: 0 .5rem;
  min-width: 2.2rem;
  text-align: right;
  color: var(--highlight-lineno, #c2c6cc);
  border-right: 1px solid var(--highlight-lineno-border, #e9ecef);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.highlight table {
  padding: 0;
  border: 0;
}

.highlight td {
  padding: 0;
  border: 0;
}

.highlight pre {
  margin-bottom: 0;
  font-size: .85rem;
  line-height: 1.4rem;
  word-wrap: normal;  /* Fixed Safari overflow-x */
}

.highlight table td pre {
  overflow: visible;  /* Fixed iOS safari overflow-x */
  word-break: normal; /* Fixed iOS safari linenos code break */
  margin-left: 10px;
}

.highlight table {
  width: 0;
}

code.highlighter-rouge {
  padding: 2px 4px;
  margin: 0 .3rem;
  border-radius: 4px;
  /* font-size: 18px; */
  font-size: 85%;
}

code, kbd, samp, pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

.copyright {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar:horizontal {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.4);
  background-color: darkslategray;
}
